* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-weight: 300;
  color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-header {
  margin-top: 105px;
  padding: 1px;

  background-image: url(../img/banner.jpg);
  text-align: center;
}

.main-header h1 {
  margin-bottom: 20px;

  color: white;
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
}


.main-header__avatar {
  display: block;
  margin: 0 auto;
  border: 3px solid white;
  margin-top: -70px;

  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 999px;
}

.main-nav {
  background-color: #333;
  text-align: center;
}


.main-nav ul li {
  display: inline-block;
  margin: 15px 10px;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  background-color: #fff;
  text-align: center;
}


.info-section h2::after{
  content: "";
  display: block;
  width: 10%;
  border-bottom: 3px solid black;
  margin: 15px auto;
}

section {
  padding: 1px;
}


.whatido__skill-list li {
  padding-top: 100px;
}
.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.whatido__skill {
  margin-top: 60px;
  background-repeat: no-repeat;
  background-position: center top;

  float: left;
  width: 33.3%;
}

.info-section {
  padding: 30px 60px;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section__description {
  font-style: italic;
}

.clearfix::after {
  content:"";
  display: block;
  clear:both;
}

ul.education-experience__list{
  text-align: left;
}

ul.education-experience__list li{
  margin: 50px;
}

.education-experience__list li img {
  float: left;
  width: 180px;
  margin-right: 30px;
}

.education-experience__list li div {
  overflow: hidden;
}

.use-content-box {
  box-sizing: content-box;
}

.photos__list {
  overflow: hidden;
}

.photos__list li {
  box-sizing: inherit;
  float: left;
  padding: 10px;
  width: 25%;
}

.photos__list li img {
  width: 100%;
}

.get-in-touch__list {
  overflow: hidden;
}

.get-in-touch__list li {
  float: left;
  width: 25%;
}

.contact input,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact button {
  border: none;
  border-radius: 9999px;

  background: #ffd524;

  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}

.contact form {
  width: 40%;
  margin-left: 30%;
}

.contact form input,
.contact form textarea {
  padding: 8px;
  width: 100%;
}

.box {
  position: relative;
  margin-bottom: 10px;
}


.box label {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}
